/* Start Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* End Global */
/* Start Variable */
:root {
  --mainTransition: 0.3s;
  --green: #22c55e;
  --red: #f44336;
  --grey: #888;
  --orange: #f59e0b;
  --blue: #0075ff;
  --blueAlt: #0d69d5;
  --secBackground: #f1f5f9;
}

/* End Variable */
/* Start Framework */
.c-g {
  color: var(--green);
}

.bg-w {
  background-color: white;
}

.bg-g {
  background-color: var(--green);
}

.c-r {
  color: var(--red);
}

.bg-r {
  background-color: var(--red);
}

.c-b {
  color: var(--blue);
}

.bg-b {
  background-color: var(--blue);
}

.c-bAlt {
  color: var(--blueAlt);
}

.bg-bAlt {
  background-color: var(--blueAlt);
}

.c-grey {
  color: var(--grey);
}

.bg-grey {
  background-color: var(--grey);
}

.c-o {
  color: var(--orange);
}

.bg-o {
  background-color: var(--orange);
}

.card-title-s h2 {
  margin-bottom: 10px;
  letter-spacing: -1px;
}

.card-title-s span {
  margin-bottom: 20px;
  display: block;
  color: var(--grey);
  font-size: 15px;
}

.card-title {
  margin-bottom: 20px;
  letter-spacing: -1px;
}

.section-title {
  margin: 20px 20px 40px;
  position: relative;
}

.section-title::before {
  content: "";
  width: 120px;
  height: 3px;
  background-color: white;
  position: absolute;
  bottom: -10px;
}

.section-title::after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: black;
  position: absolute;
  bottom: -10px;
}

.switch input {
  display: none;
}

.switch .switch-btn {
  width: 78px;
  height: 32px;
  background-color: #ccc;
  border-radius: 16px;
  position: relative;
  cursor: pointer;
  transition: var(--mainTransition);
}

.switch .switch-btn::before {
  content: "off";
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(160, 160, 160);
  font-weight: bold;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: var(--mainTransition);
}

.switch input:checked + .switch-btn {
  background-color: var(--blue);
}

.switch input:checked + .switch-btn::before {
  content: "on";
  color: var(--blue);
  transform: translateX(46px);
}
/* End Framework */
/* Start Animation */
@keyframes on-off {
  from {
    background-color: var(--blue);
  }

  to {
    background-color: white;
  }
}

@keyframes up-down {
  0%, 100% {
    transform: translateY(0);
  }
  
  50% {
    transform: translateY(-5px);
  }
}
/* End Animation */
/* Start Sidebar */
.page {
  display: flex;
  min-height: 100vh;
  background-color: var(--secBackground);
}

.page .sidebar {
  width: 250px;
  padding: 20px;
  box-shadow: 0 0 10px rgb(209, 209, 209);
  position: relative;
}

.page .sidebar .logo {
  position: relative;
}

@media (max-width: 767px) {
  .page .sidebar {
    width: 58px;
    padding: 10px;
  }

  .page .sidebar .logo::before,
  .page .sidebar .logo::after {
    display: none;
  }
}

.page .sidebar .logo::before {
  content: "";
  width: 80px;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.page .sidebar .logo::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: black;
  border: 4px solid white;
  position: absolute;
  bottom: -29px;
  left: 50%;
  transform: translateX(-50%);
}

.page .sidebar .logo a {
  margin-bottom: 50px;
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  display: block;
  text-decoration: none;
  color: black;
}

@media (max-width: 767px) {
  .page .sidebar .logo a {
    font-size: 13px;
    margin-bottom: 15px;
  }
}

.page .sidebar .pages {
  list-style: none;
}

.page .sidebar .pages li a {
  padding: 10px;
  margin-top: 5px;
  text-decoration: none;
  border-radius: 6px;
  color: black;
  font-size: 14px;
  display: block;
  transition: 0.3s;
}

.page .sidebar .pages li a.active {
  background-color: #d5d4d4;
}

.page .sidebar .pages li a:hover {
  background-color: #d5d4d4;
}

.page .sidebar .pages li:nth-child(2) a:hover i {
  -webkit-animation-name: fa-spin;
    animation-name: fa-spin;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: var(--fa-animation-iteration-count,infinite);
    animation-iteration-count: var(--fa-animation-iteration-count,infinite);
    -webkit-animation-timing-function: var(--fa-animation-timing,linear);
    animation-timing-function: var(--fa-animation-timing,linear);
}

.page .sidebar .pages li a span {
  margin-left: 10px;
}

@media (max-width: 767px) {
  .page .sidebar .pages li a {
    text-align: center;
  }

  .page .sidebar .pages li a span {
    display: none;
  }
}

/* End Sidebar */
/* Star Header */
.page .page-content {
  width: 100%;
  overflow: hidden;
}

.page .page-content .header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.page .page-content .header .search {
  border: 1px solid #ccc;
  padding-left: 10px;
  border-radius: 10px;
  caret-color: var(--blue);
  display: flex;
  align-items: center;
}

.page .page-content .header .search i {
  color: #888;
}

.page .page-content .header .search input {
  padding: 10px 10px 10px 5px;
  border: none;
  border-radius: 10px;
  width: 132px;
  transition: 0.3s;
}

.page .page-content .header .search input:focus {
  outline: none;
  width: 180px;
}

.page .page-content .header .search input:focus::placeholder {
  opacity: 0;
  transition: var(--mainTransition);
}

.page .page-content .header .notifications {
  display: flex;
  justify-items: center;
  align-items: center;
}

.page .page-content .header .notifications .icon {
  position: relative;
  cursor: pointer;
}

.page .page-content .header .notifications .icon:hover {
  -webkit-animation-name: fa-shake;
  animation-name: fa-shake;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: var(--fa-animation-timing,linear);
  animation-timing-function: var(--fa-animation-timing,linear);
}

.page .page-content .header .notifications .icon::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--red);
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
}

.page .page-content .header .notifications img {
  width: 32px;
  height: 32px;
  margin-left: 15px;
  cursor: pointer;
}

/* End Header */
/* Start Dashboard */
.dashboard-page .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px;
  margin: 0 20px 20px;
}

@media (max-width: 767px) {
  .dashboard-page .container {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}

.dashboard-page .container .card {
  border-radius: 10px;
  background-color: white;
}

.dashboard-page .container .card:not(:first-child) {
  padding: 20px;
}

/* Start Welcome */
.dashboard-page .container .welcome .card-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #eee;
}

@media (max-width: 767px) {
  .dashboard-page .container .welcome .card-header {
    padding-bottom: 30px;
    justify-content: center;
    text-align: center;
  }
}

.dashboard-page .container .welcome .card-header .welcome-title span {
  color: var(--grey);
  margin: 5px 0px 16px;
  display: block;
}

.dashboard-page .container .welcome .card-header img {
  width: 200px;
}

.dashboard-page .container .welcome .avatar {
  width: 64px;
  height: 64px;
  padding: 2px;
  border: 2px solid white;
  border-radius: 50%;
  position: relative;
  top: -32px;
  left: 20px;
}

.dashboard-page .container .welcome .content {
  display: flex;
  padding: 20px;
  margin: -15px 0 20px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.dashboard-page .container .welcome .content div {
  flex: 1;
  text-align: center;
}

@media (max-width: 767px) {
  .dashboard-page .container .welcome .card-header img {
    display: none;
  }

  .dashboard-page .container .welcome .avatar {
    left: 50%;
    transform: translateX(-50%);
  }

  .dashboard-page .container .welcome .content {
    flex-direction: column;
  }

  .dashboard-page .container .welcome .content div:not(:last-child) {
    margin-bottom: 20px;
  }
}

.dashboard-page .container .welcome .content div span {
  color: var(--grey);
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

.dashboard-page .container .welcome .profile-btn {
  text-decoration: none;
  color: white;
  padding: 4px 10px;
  margin: 0 15px 15px auto;
  display: block;
  font-size: 14px;
  width: fit-content;
  border-radius: 6px;
  font-weight: 500;
  transition: var(--mainTransition);
}

.dashboard-page .container .welcome .profile-btn:hover {
  background-color: var(--blueAlt);
}

/* End Welcome */
/* Start Draft */
.dashboard-page .container .draft .input {
  background-color: #eee;
  border: none;
  border-radius: 6px;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  caret-color: var(--blue);
}

.dashboard-page .container .draft .input:focus::placeholder {
  opacity: 0;
  transition: 0.3s;
}

.dashboard-page .container .draft .input:focus {
  outline: none;
}

.dashboard-page .container .draft .thoughts {
  resize: none;
  height: 180px;
}

.dashboard-page .container .draft .save-btn {
  text-decoration: none;
  color: white;
  padding: 4px 10px;
  margin-left: auto;
  display: block;
  font-size: 14px;
  width: fit-content;
  border-radius: 6px;
  font-weight: 500;
  transition: var(--mainTransition);
}

.dashboard-page .container .draft .save-btn:hover {
  background-color: var(--blueAlt);
}

/* End Draft */
/* Start Targets */
.dashboard-page .container .targets .numbers {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-page .container .targets .numbers .symbol {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-page .container .targets .money .symbol {
  background-color: rgba(0, 117, 255, 0.2);
}

.dashboard-page .container .targets .project .symbol {
  background-color: rgba(245, 158, 11, 0.2);
}

.dashboard-page .container .targets .team .symbol {
  background-color: rgba(34, 197, 94, 0.2);
}

.dashboard-page .container .targets .numbers .progress {
  flex: 1;
}

.dashboard-page .container .targets .numbers .progress .title {
  color: var(--grey);
  font-size: 14px;
}

.dashboard-page .container .targets .numbers .progress .number {
  display: block;
  margin: 5px 0 10px;
  font-weight: bold;
}

.dashboard-page .container .targets .numbers .progress .progress-bar {
  height: 4px;
}

.dashboard-page .container .targets .money .progress .progress-bar {
  background-color: rgba(0, 117, 255, 0.2);
}

.dashboard-page .container .targets .project .progress .progress-bar {
  background-color: rgba(245, 158, 11, 0.2);
}

.dashboard-page .container .targets .team .progress .progress-bar {
  background-color: rgba(34, 197, 94, 0.2);
}

.dashboard-page .container .targets .numbers .progress .progress-bar span {
  height: 100%;
  display: block;
  position: relative;
}

.dashboard-page .container .targets .numbers .progress .progress-bar span::before {
  content: attr(data-progress);
  padding: 2px 5px;
  border-radius: 6px;
  font-size: 13px;
  color: white;
  position: absolute;
  bottom: 16px;
  right: -17px;
}

.dashboard-page .container .targets .money .progress .progress-bar span::before {
  background-color: var(--blue);
}

.dashboard-page .container .targets .project .progress .progress-bar span::before {
  background-color: var(--orange);
}

.dashboard-page .container .targets .team .progress .progress-bar span::before {
  background-color: var(--green);
}

.dashboard-page .container .targets .numbers .progress .progress-bar span::after {
  content: "";
  border-width: 5px;
  border-style: solid;
  width: 0;
  height: 0;
  position: absolute;
  top: -12px;
  right: -5px;
}

.dashboard-page .container .targets .money .progress .progress-bar span::after {
  border-color: var(--blue) transparent transparent transparent;
}

.dashboard-page .container .targets .project .progress .progress-bar span::after {
  border-color: var(--orange) transparent transparent transparent;
}

.dashboard-page .container .targets .team .progress .progress-bar span::after {
  border-color: var(--green) transparent transparent transparent;
}

/* End Targets */
/* Start Stats */
.dashboard-page .container .stats .content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.dashboard-page .container .stats .content div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  font-size: 13px;
  color: var(--grey);
}

.dashboard-page .container .stats .content div i {
  margin-bottom: 10px;
}

.dashboard-page .container .stats .content div span {
  font-size: 25px;
  color: black;
  font-weight: bold;
  margin-bottom: 5px;
}

.dashboard-page .container .stats .content div:first-child {
  grid-column: 1 / 7;
}

.dashboard-page .container .stats .content div:nth-child(2) {
  grid-column: 7 / 13;
}

.dashboard-page .container .stats .content div:nth-child(3) {
  grid-column: 1 / 7;
}

.dashboard-page .container .stats .content div:last-child {
  grid-column: 7 / 13;
}

@media (max-width: 767px) {
  .dashboard-page .container .stats .content div {
    grid-column: 1 / 13 !important;
  }
}

/* End Stats */
/* Start News */
.dashboard-page .container .news .info {
  display: flex;
}

@media (max-width: 767px) {
  .dashboard-page .container .news .card-title {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .dashboard-page .container .news .info {
    flex-direction: column;
    text-align: center;
  }

  .dashboard-page .container .news .info img {
    align-self: center;
    margin-bottom: 5px;
  }
}

.dashboard-page .container .news .info:not(:last-of-type) {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.dashboard-page .container .news .info img {
  width: 100px;
  border-radius: 6px;
  margin-right: 15px;
}

.dashboard-page .container .news .info .details {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .dashboard-page .container .news .info .details {
    flex-direction: column;
  }

  .dashboard-page .container .news .info .details .time {
    margin: 10px 0;
  }
}

.dashboard-page .container .news .info .details .news-info h3 {
  font-size: 16px;
  margin-bottom: 6px;
}

.dashboard-page .container .news .info .details .news-info span {
  color: var(--grey);
  font-size: 14px;
}

.dashboard-page .container .news .info .details .time {
  padding: 4px 10px;
  background-color: #eee;
  border-radius: 6px;
  font-size: 13px;
}

/* End News */
/* Start Tasks */
.dashboard-page .container .tasks .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-page .container .tasks .info:not(:last-of-type) {
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.dashboard-page .container .tasks .info .task-info h3 {
  margin-bottom: 5px;
  font-size: 15px;
}

.dashboard-page .container .tasks .info .task-info span {
  color: var(--grey);
}

.dashboard-page .container .tasks .info i {
  cursor: pointer;
  transition: var(--mainTransition);
}

.dashboard-page .container .tasks .info i:hover {
  color: var(--red);
}

.dashboard-page .container .tasks .special {
  opacity: 0.3;
}

.dashboard-page .container .tasks .special .task-info {
  text-decoration: line-through;
}

/* End Tasks */
/* Start Search */
.dashboard-page .container .search .table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--grey);
}

.dashboard-page .container .search .item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.dashboard-page .container .search .item span:last-child {
  padding: 4px 10px;
  border-radius: 6px;
  background-color: #eee;
  font-size: 13px;
}

/* End Search */
/* Start Uploads */
.dashboard-page .container .uploads .up {
  display: flex;
}

.dashboard-page .container .uploads .up:not(:last-child) {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.dashboard-page .container .uploads .up img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.dashboard-page .container .uploads .up .info {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-page .container .uploads .up .info .file-name span {
  color: var(--grey);
  font-size: 15px;
}

.dashboard-page .container .uploads .up .info .space {
  padding: 4px 10px;
  background-color: #eee;
  font-size: 13px;
  border-radius: 6px;
}

/* End Uploads */
/* Start Project */
.dashboard-page .container .projects {
  position: relative;
}

.dashboard-page .container .projects .progress {
  list-style: none;
  position: relative;
}

.dashboard-page .container .projects .progress::before {
  content: "";
  height: 100%;
  width: 2px;
  background-color: var(--blue);
  position: absolute;
  left: 11px;
}

.dashboard-page .container .projects .progress li {
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.dashboard-page .container .projects .progress li div {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--blue);
  border: 2px solid white;
  outline: 2px solid var(--blue);
  margin-right: 15px;
  position: relative;
}

.dashboard-page .container .projects .progress li.active div {
  animation: on-off 0.8s infinite alternate;
}

.dashboard-page .container .projects .progress li.finished div {
  background-color: white;
}

.dashboard-page .container .projects img {
  width: 160px;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.1;
}
@media (max-width: 767px) {
  .dashboard-page .container .projects img {
    display: none;
  }
}
/* End Project */
/* Start Reminders */
.dashboard-page .container .reminders .reminders-list {
  list-style: none;
}

.dashboard-page .container .reminders .reminders-list li {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.dashboard-page .container .reminders .reminders-list li .dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 15px;
}

.dashboard-page .container .reminders .reminders-list li .info {
  padding-left: 15px;
}

.dashboard-page .container .reminders .reminders-list li:first-child .info {
  border-left: 2px solid var(--blue);
}

.dashboard-page .container .reminders .reminders-list li:nth-child(2) .info {
  border-left: 2px solid var(--green);
}

.dashboard-page .container .reminders .reminders-list li:nth-child(3) .info {
  border-left: 2px solid var(--orange);
}

.dashboard-page .container .reminders .reminders-list li:last-child .info {
  border-left: 2px solid var(--red);
}

.dashboard-page .container .reminders .reminders-list li .info p {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.dashboard-page .container .reminders .reminders-list li .info span {
  color: var(--grey);
  font-size: 13px;

}

/* End Reminders */
/* Start Post */
.dashboard-page .container .post .user {
  display: flex;
  align-items: center;
}

.dashboard-page .container .post .user img {
  width: 48px;
  height: 48px;
  margin-right: 15px;
}

.dashboard-page .container .post .user .user-info h4 {
  margin-bottom: 5px;
}

.dashboard-page .container .post .user .user-info span {
  color: var(--grey);
}

.dashboard-page .container .post .post-content {
  margin: 20px 0;
  padding: 20px 0;
  line-height: 1.8;
  border-top: 1px solid rgb(208, 208, 208);
  border-bottom: 1px solid rgb(208, 208, 208);
  height: 140px;
}

@media (max-width: 767px) {
  .dashboard-page .container .post .post-content {
    text-align: center;
  }
}

.dashboard-page .container .post .reaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-page .container .post .reaction div {
  color: var(--grey);
}

/* End Post */
/* Start Social */
.dashboard-page .container .social .app {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.dashboard-page .container .social .twitter {
  background-color: rgba(29, 161, 242, 0.2);
}

.dashboard-page .container .social .facebook {
  background-color: rgba(24, 119, 242, 0.2);
}

.dashboard-page .container .social .youtube {
  background-color: rgba(255, 0, 0, 0.2);
}

.dashboard-page .container .social .linkedin {
  background-color: rgba(0, 119, 181, 0.2);
}

.dashboard-page .container .social .app .logo {
  width: 52px;
  color: white;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--mainTransition);
}

.dashboard-page .container .social .app .logo:hover {
  transform: rotate(6deg);
}

.dashboard-page .container .social .app .stats {
  padding: 15px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1da1f2;
}

.dashboard-page .container .social .app .stats .social-btn {
  padding: 4px 10px;
  border-radius: 6px;
  color: white;
  font-size: 13px;
  font-weight: 600;
}

.dashboard-page .container .social .twitter .logo,
.dashboard-page .container .social .twitter .stats .social-btn {
  background-color: #1da1f2;
}

.dashboard-page .container .social .facebook .logo,
.dashboard-page .container .social .facebook .stats .social-btn {
  background-color: #1877f2;
}

.dashboard-page .container .social .youtube .logo,
.dashboard-page .container .social .youtube .stats .social-btn {
  background-color: red;
}

.dashboard-page .container .social .linkedin .logo,
.dashboard-page .container .social .linkedin .stats .social-btn {
  background-color: #0077b5;
}

/* End Social */
/* Start Projects-Table */
.dashboard-page .projects-table {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.dashboard-page .projects-table .table {
  overflow-x: auto;
}

.dashboard-page .projects-table .table table {
  min-width: 1000px;
  width: 100%;
  border-spacing: 0;
  font-size: 15px;
}

.dashboard-page .projects-table .table table td {
  padding: 15px;
}

.dashboard-page .projects-table .table table thead td {
  background-color: #eee;
  font-weight: bold;
}

.dashboard-page .projects-table .table table tbody td {
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  transition: var(--mainTransition);
}

.dashboard-page .projects-table .table table tbody tr:hover td {
  background-color: #faf7f7;
}

.dashboard-page .projects-table .table table tbody td img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: white;
  padding: 2px;
}

.dashboard-page .projects-table .table table tbody td img:not(:first-child) {
  margin-left: -20px;
}

.dashboard-page .projects-table .table table tbody td .status {
  padding: 4px 10px;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  font-size: 13px;
}
/* End Projects-Table */
/* End Dashboard */
/* Start Settings */
.settings-page .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px;
  margin: 20px;
}

@media (max-width: 767px) {
  .settings-page .container {
    grid-template-columns: minmax(200px, 1fr);
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.settings-page .container .card {
  border-radius: 10px;
  background-color: white;
  padding: 20px;
}
/* Start Site-Control */
.settings-page .container .control .control-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-page .container .control .control-toggle .text span {
  font-size: 13px;
  color: var(--grey);
  margin: 5px 0 13px;
  display: block;
}

.settings-page .container .control textarea {
  width: 100%;
  min-height: 150px;
  resize: none;
  border: 1px solid #ccc;
  padding: 10px;
  caret-color: var(--blue);
}

.settings-page .container .control textarea::placeholder {
  transition: var(--mainTransition);
}

.settings-page .container .control textarea:focus {
  outline: none;
}

.settings-page .container .control textarea:focus::placeholder {
  opacity: 0;
}
/* End Site-Control */
/* Start General Info */
.settings-page .container .gen-info .input {
  margin-bottom: 15px;
} 

.settings-page .container .gen-info .input label {
  margin-bottom: 10px;
  color: var(--grey);
  font-size: 14px;
  display: block;
}

.settings-page .container .gen-info .input input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  caret-color: var(--blue);
}

.settings-page .container .gen-info .input input:focus {
  outline: none;
}

.settings-page .container .gen-info .input input::placeholder {
  transition: var(--mainTransition);
}

.settings-page .container .gen-info .input input:focus::placeholder {
  opacity: 0;
}

.settings-page .container .gen-info .input div {
  display: flex;
  align-items: center;
}

.settings-page .container .gen-info .input div [id = "email"] {
  margin-right: 10px;
  background-color: #f0f4f8;
  color: #bbb;
  cursor: no-drop;
}

.settings-page .container .gen-info .input div a {
  text-decoration: none;
  font-weight: bold;
}
/* End General Info */
/* Start Security Info */
.settings-page .container .sec-info .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}

.settings-page .container .sec-info .box:not(:last-child) {
  margin-bottom: 15px;
}

.settings-page .container .sec-info .box .text span {
  margin-top: 5px;
  margin-bottom: 13px;
  color: var(--grey);
  display: block;
  font-size: 13px;
}

.settings-page .container .sec-info .box .change-btn,
.settings-page .container .sec-info .box .device-btn  {
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
  padding: 4px 10px;
  border-radius: 6px;
  transition: var(--mainTransition);
}

.settings-page .container .sec-info .box .change-btn {
  background-color: var(--blue);
  color: white;
}

.settings-page .container .sec-info .box .change-btn:hover {
  background-color: var(--blueAlt);
}

.settings-page .container .sec-info .box .device-btn {
  background-color: #eee;
  color: black;
}

.settings-page .container .sec-info .box .device-btn:hover {
  background-color: #ddd;
}
/* End Security Info */
/* Start Social Info */
.settings-page .container .social-info .social-app {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.settings-page .container .social-info .social-app i {
  color: var(--grey);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  background-color: #f6f6f6;
  transition: var(--mainTransition);
}

.settings-page .container .social-info .social-app:focus-within i {
  color: black;
}

.settings-page .container .social-info .social-app input {
  padding: 1px 2px 1px 10px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 0 6px 6px 0;
  width: 100%;
  caret-color: var(--blue);
  background-color: #f6f6f6;
}

.settings-page .container .social-info .social-app input:focus {
  outline: none;
}

.settings-page .container .social-info .social-app input::placeholder {
  transition: var(--mainTransition)
}

.settings-page .container .social-info .social-app input:focus::placeholder {
  opacity: 0;
}
/* End Social Info */
/* Start Widgets Control */
.settings-page .container .widgets .list-items {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.settings-page .container .widgets .list-items input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
}

.settings-page .container .widgets .list-items label {
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}

.settings-page .container .widgets .list-items label::before,
.settings-page .container .widgets .list-items label::after {
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
}

.settings-page .container .widgets .list-items label::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 2px solid var(--grey);
}

.settings-page .container .widgets .list-items label:hover::before {
  border-color: var(--blue);
}

.settings-page .container .widgets .list-items label::after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: white;
  background-color: var(--blue);
  font-size: 12px;
  width: 18px;
  height: 18px;
  transition: var(--mainTransition);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0) rotate(360deg);
}

.settings-page .container .widgets .list-items input[type="checkbox"]:checked + label::after {
  transform: scale(1);
}
/* End Widgets Control */
/* Start Backup Manager */
.settings-page .container .backup .list-items {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.settings-page .container .backup .list-items input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
}

.settings-page .container .backup .list-items label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}

.settings-page .container .backup .list-items label::before {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid var(--grey);
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -11px;
}

.settings-page .container .backup .list-items label:hover::before {
  border-color: var(--blue);
}

.settings-page .container .backup .list-items input[type="radio"]:checked + label::before {
  border-color: var(--blue);
}

.settings-page .container .backup .list-items label::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--blue);
  position: absolute;
  left: 5px;
  top: 50%;
  margin-top: -6px;
  transition: var(--mainTransition);
  transform: scale(0);
  opacity: 0.2;
}

.settings-page .container .backup .list-items label:hover::after {
  transform: scale(1);
}

.settings-page .container .backup .list-items input[type="radio"]:checked + label::after {
  transform: scale(1);
  opacity: 1;
}

.settings-page .container .backup .box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  width: 100%;
}

.settings-page .container .backup .box-container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  flex-basis: calc(100% / 3);
}

@media (max-width: 767px) {
  .settings-page .container .backup .box-container {
    flex-direction: column;
  }
}

.settings-page .container .backup .box-container .box input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
}

.settings-page .container .backup .box-container .box label {
  cursor: pointer;
  width: 100%;
  padding: 15px;
  border: 2px solid var(--grey);
  border-radius: 10px;
  transition: var(--mainTransition);
}

.settings-page .container .backup .box-container .box label i {
  margin-bottom: 10px;
}

.settings-page .container .backup .box-container .box span {
  display: block;
}

.settings-page .container .backup .box-container .box input[type="radio"]:checked + label {
  color: var(--blue);
  border-color: var(--blue);
}
/* End Backup Manager */
/* End Settings */
/* Start Profile */
.profile-page {
  margin: 20px;
}

@media (max-width: 767px) {
  .profile-page {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.profile-page .main-info {
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.profile-page .main-info .name-card {
  padding: 20px;
  text-align: center;
  flex-basis: 25%;
  border-right: 1px solid #eee;
}

@media (max-width: 767px) {
  .profile-page .main-info {
    flex-direction: column;
  }

  .profile-page .main-info .name-card {
    border-right: none;
  }
}

.profile-page .main-info .name-card img {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
}

.profile-page .main-info .name-card p {
  margin-top: 10px;
  margin-bottom: 16px;
}

.profile-page .main-info .name-card .level-bar {
  width: 70%;
  height: 6px;
  background-color: #eee;
  border-radius: 6px;
  margin: 0 auto;
}

.profile-page .main-info .name-card .level-bar span {
  background-color: var(--blue);
  display: block;
  height: 100%;
  border-radius: 6px;
}

.profile-page .main-info .name-card .stars {
  margin: 10px 0;
}

.profile-page .main-info .name-card .rate {
  font-size: 13px;
}
.profile-page .main-info .details {
  flex: 1;
}

.profile-page .main-info .details .box {
  padding: 20px;
}

.profile-page .main-info .details .box .box-title {
  font-size: 15px;
}

.profile-page .main-info .details .box .box-data {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.profile-page .main-info .details .box .switch {
  margin-top: 10px;
}

.profile-page .main-info .details .box .switch-btn {
  height: 20px;
}

.profile-page .main-info .details .box .switch-btn::before {
  content: "";
  height: 12px;
  width: 12px;
}

.profile-page .main-info .details .box .switch input:checked + .switch-btn::before {
  transform: translateX(58px);
}

@media (max-width: 767px) {
  .profile-page .main-info .details .box {
    text-align: center;
  }

  .profile-page .main-info .details .box .box-data {
    flex-direction: column;
    margin: 0;
  }

  .profile-page .main-info .details .box .box-data div {
    margin-top: 10px;
  }

  .profile-page .main-info .details .box .switch-btn  {
    margin: 10px auto 0;
  }
}

.profile-page .another-info {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

@media (max-width: 767px) {
  .profile-page .another-info {
    flex-direction: column;
  }
}

.profile-page .another-info .card {
  border-radius: 10px;
  padding: 20px;
}

.profile-page .another-info .skills {
  flex-basis: calc(100% / 3);
}

.profile-page .another-info .skills ul {
  list-style: none;
}

.profile-page .another-info .skills ul li {
  padding: 15px 0;
}

.profile-page .another-info .skills ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

@media (max-width: 767px) {
  .profile-page .another-info .skills ul li {
    text-align: center;
  }
}

.profile-page .another-info .skills ul li span {
  padding: 4px 10px;
  background-color: #eee;
  font-size: 14px;
  margin-right: 5px;
  border-radius: 6px;
}

.profile-page .another-info .activities {
  flex: 1;
}

.profile-page .another-info .activities .act-list .act {
  display: flex;
  align-items: center;
}

.profile-page .another-info .activities .act-list .act:not(:last-child) {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.profile-page .another-info .activities .act-list .act img {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}


.profile-page .another-info .activities .act-list .act span {
  display: block;
}


.profile-page .another-info .activities .act-list .act .text span:first-child,
.profile-page .another-info .activities .act-list .act .time span:first-child {
  margin-bottom: 10px;
}

.profile-page .another-info .activities .act-list .act .time {
  margin-left: auto;
  text-align: end;
}

@media (max-width: 767px) {
  .profile-page .another-info .activities .act-list .act {
    flex-direction: column;
    text-align: center;
  }

  .profile-page .another-info .activities .act-list .act img {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .profile-page .another-info .activities .act-list .act .time {
    margin-left: 0;
    margin-top: 15px;
    text-align: center;
  }
}
/* End Profile */
/* Start Projects */
.projects-page .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px;
  margin: 20px;
}

@media (max-width: 767px) {
  .projects-page .container {
    grid-template-columns: minmax(250px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
  }
}

.projects-page .container .card {
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.projects-page .container .card .date {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 13px;
}

.projects-page .container .card .card-title h4 {
  font-weight: normal;
}

.projects-page .container .card .card-title span {
  margin: 10px 0;
  font-size: 14px;
  letter-spacing: 0.25px;
  display: block;
}

.projects-page .container .card .members {
  display: flex;
  align-items: flex-end;
  height: 60px;
}

.projects-page .container .card .members img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 2px;
  background-color: white;
  cursor: pointer;
}

.projects-page .container .card .members img:hover {
  transform: scale(1.2);
  z-index: 1;
}

.projects-page .container .card .members img:not(:first-child) {
  margin-left: -15px;
}

.projects-page .container .card .skills {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #eee;
}

.projects-page .container .card .skills span {
  background-color: #eee;
  padding: 3px 8px;
  border-radius: 6px;
  font-size: 13px;
  margin-left: 5px;
}

@media (max-width: 767px) {
  .projects-page .container .card .skills {
    flex-direction: column;
  }

  .projects-page .container .card .skills span {
    width: fit-content;
    margin-left: 0;
    margin-bottom: 15px;
  }
}

.projects-page .container .card .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #eee;
}

.projects-page .container .card .info .price-level {
  height: 8px;
  width: 260px;
  background-color: #eee;
  border-radius: 6px;
}

@media (max-width: 767px) {
  .projects-page .container .card .info {
    flex-direction: column;
    align-items: center;
  }

  .projects-page .container .card .info .price-level {
    margin-bottom: 15px;
  }
}

.projects-page .container .card .info .price-level span {
  height: 100%;
  display: block;
  border-radius: 6px;
}
/* End Projects */
/* Start Courses */
.courses-page .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 20px;
  gap: 20px;
}

@media (max-width: 767px) {
  .courses-page .container {
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}

.courses-page .container .card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.courses-page .container .card img:first-child {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  top: 20px;
  left: 20px;
}

.courses-page .container .card .cover {
  max-width: 100%;
}

@media (max-width: 877px) {
  .courses-page .container .card .cover {
    width: 100%;
  }
}

.courses-page .container .card .info {
  padding: 20px;
}

.courses-page .container .card .info p {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 14px;
  line-height: 1.6;
}

.courses-page .container .card span {
  position: absolute;
  padding: 4px 10px;
  color: white;
  border-radius: 6px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 37px;
  font-size: 13px;
  z-index: 1;
}

.courses-page .container .card .price {
  position: relative;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #eee;
  font-size: 13px;
}
/* End Courses */
/* Start Friends */
.friends-page .container {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

@media (max-width: 767px) {
  .friends-page .container {
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}

.friends-page .container .card {
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.friends-page .container .card .contact {
  position: absolute;
  top: 10px;
  left: 10px;
}

.friends-page .container .card .contact i {
  padding: 10px;
  background-color: #eee;
  color: #666;
  font-size: 13px;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--mainTransition);
}

.friends-page .container .card .contact i:hover {
  background-color: var(--blue);
  color: white;
}

.friends-page .container .card .details {
  text-align: center;
}

.friends-page .container .card .details img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px 0;
}

.friends-page .container .card .details span {
  margin-top: 5px;
  margin-bottom: 13px;
  font-size: 13px;
}

.friends-page .container .card .info {
  margin: 15px 0;
  padding: 15px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

.friends-page .container .card .info div:not(:last-child) {
  margin-bottom: 10px;
}

.friends-page .container .card .info div i {
  margin-right: 5px;
}

.friends-page .container .card .date {
  display: flex;
  justify-content: space-between;
}

.friends-page .container .card .date span {
  font-size: 13px;
}

.friends-page .container .card .date a {
  padding: 4px 10px;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  font-size: 13px;
  transition: var(--mainTransition);
}
/* End Friends */
/* Start Files */
.files-page .container {
  display: flex;
  align-items: flex-start;
  margin: 20px;
  gap: 20px;
}

.files-page .container .files-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  position: relative;
}


@media (max-width: 767px) {
  .files-page .container {
    flex-direction: column-reverse;
    align-items: normal;
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }

  .files-page .container .files-container  {
    gap: 10px;
  }
}

.files-page .container .files-container .box {
  border-radius: 10px;
  padding: 10px;
}

.files-page .container .files-container .box i {
  cursor: pointer;
  transition: var(--mainTransition);
}

.files-page .container .files-container .box i:hover {
  color: var(--blue);
}

.files-page .container .files-container .box .info {
  text-align: center;
}

.files-page .container .files-container .box .info img {
  width: 64px;
  height: 64px;
  transition: var(--mainTransition);
  margin-top: 15px;
  margin-bottom: 15px;
}

.files-page .container .files-container .box .info:hover img {
  transform: rotate(6deg);
}

.files-page .container .files-container .box .info span {
  display: block;
  margin-bottom: 10px;
}

.files-page .container .files-container .box .name {
  font-size: 13px;
  margin-top: 13px;
  margin-bottom: 13px;
  display: block;
}

.files-page .container .files-container .box .date {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}

.files-page .container .files-stat {
  min-width: 260px;
  border-radius: 10px;
  padding: 20px;
}

.files-page .container .files-stat .card-title {
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .files-page .container .files-stat .card-title {
    text-align: center;
  }
}

.files-page .container .files-stat .file {
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 6px;
  display: flex;
  align-items: center;
  font-size: 13px;
  align-items: flex-start;
}

.files-page .container .files-stat .file:not(:last-child) {
  margin-bottom: 15px;
}

.files-page .container .files-stat .file i {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.files-page .container .files-stat .file:first-of-type i {
  background-color: rgba(0, 117, 255, 0.2);
  color: var(--blue);
}

.files-page .container .files-stat .file:nth-of-type(2) i {
  background-color: rgba(34, 197, 94, 0.2);
  color: var(--green);
}

.files-page .container .files-stat .file:nth-of-type(3) i {
  background-color: rgba(244, 67, 54, 0.2);
  color: var(--red);
}

.files-page .container .files-stat .file:last-of-type i {
  background-color: rgba(245, 158, 11, 0.2);
  color: var(--orange);
}

.files-page .container .files-stat .file .info span:last-child {
  margin-top: 5px;
  display: block;
}

.files-page .container .files-stat .file .storage {
  margin-left: auto;
}

.files-page .container .files-stat a {
  padding: 10px 15px;
  margin: 15px auto 0;
  display: block;
  width: fit-content;
  text-decoration: none;
  color: white;
  text-align: center;
  border-radius: 6px;
  font-size: 13px;
  transition: var(--mainTransition);
}

.files-page .container .files-stat a:hover {
  background-color: var(--blueAlt);
}

.files-page .container .files-stat a i {
  margin-right: 10px;
}

.files-page .container .files-stat a:hover i {
  animation: up-down 0.8s infinite;
}
/* End Files */
